#
#                         `:;,`                         
#                       `;;;;;;;                        
#                     `;;;;;;;;;;;`                     
#                    :;;;;;;;;;;;;;;                    
#                 `    ,;;;;;;;;;;;;;;`                 
#               `;;;,    :;;;;;;;;;;;;;;                
#             `;;;;;;;,    .``:;;;;;;;;;;;`             
#           `;;;;;;;;;;;,       ;;;;;;;;;;;;            
#         `;;;;;;;;;;;;;.        ;;;;;;;;;;;;;`         
#       `;;;;;;;;;;;;;;;;        :;;;;;;;;;;;;;;        
#     `;;;;;;;;;;;;;;;;;;;;   `    :;;;;;;;;;;;;;;`     
#    ;;;;;;;;;;;;;;;;;;;;;;   ,;.    :;;;;;;;;;;;;;;    
# `;;;;;;;;;;;;;;;;;;;;;;;;   ,;;;.       .;;;;;;;;;;;` 
#,;;;;;;;;;;;;;;;;;;;;;;;;;   ,;;;;;        ;;;;;;;;;;;.
#.;;;:;;;;;;;;;;;;;;;;;;;;;   ,;;;;;        ;;;;;;;;;;;,
# `;;;;;;;;;;;;;;;;;;;;;;;;   ,;;;;;;      ;;;;;;;;;;;` 
#    ;;;;;;;;;;;;;;;;;;;;;;   ,;;;;;;;;;;;;;;;;;;;;;`   
#     `;;;;;;;;;;;;;;;;;;;;   ,;;;;;;;;;;;;;;;;;;;`     
#        ;;;;;;;;;;;;;;;;.      ;;;;;;;;;;;;;;;;        
#         `;;;;;;;;;;;;;,        ;;;;;;;;;;;;;`         
#            ;;;;;;;;;;;;       .;;;;;;;;;;;`           
#             `;;;;;;;;;;;`    ;;;;;;;;;;;`             
#               `;;;;;;;;;;;;;;;;;;;;;;;`               
#                 `;;;;;;;;;;;;;;;;;;;`                 
#                    ;;;;;;;;;;;;;;;`                   
#                     `;;;;;;;;;;;`                     
#                        ;;;;;;;`                       
#                         `,;:`                         



# Prevent 3rd Party components being stored in this repo
node_modules
bower_components
dist